@import '../../styles/variables.scss';

.city-card {
    max-width: $max-width-app;
    margin: 0 auto;

    &__box {
        position: relative;
        font-family: $roboto;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 2em 0 0 0;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
        @include clear-fix;
    }

    &__temperature {
        font-size: 4em;
        text-align: center;
    }

    &__gauge {
        text-align: center;
    }

    &__sky-icon {        
        top: 3em;
        left: 10%;
        text-align: center;
    }

    &__city-name {
        width: 74%;
        font-size: 2em;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 auto .5em auto;
    }

    &__sky-state {
        &--city-name {
            font-size: .5em;
            text-transform: lowercase;
            opacity: .7;
        }
    }

    &__info {
        display: flex;
        justify-content: center;
        color: #656565;
        font-size: .8em;
        padding-bottom: 2.5em;

        &-list {
            margin: 0 9%;
        }
    }

    // media query
    @media screen and (max-width: 33.125em) {
        &__sky-icon {
            top: 4em;
            font-size: 60%;
        }

        &__temperature {
            font-size: 2.7em;
        }
    }

    @media screen and (max-width: 31.25em) {
        &__updated-label {
            width: 50%;
        }

        &__temperature {
            font-size: 3em;
        }

        &__info {
            flex-flow: wrap;
            text-align: center;
            font-size: .9em;
            padding: 0;
        }

        &__info-list {
            flex: 0 0 50%;
            margin: 0 2.5% 0 2.5%;

            &:first-child {
                margin-bottom: 1em;
            }
        }
    }

    @media screen and (max-width: 23.125em) {
        &__sky-icon {
            top: 4em;
            font-size: 45%;
        }
    }
}